@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important; /* This disables native scrollbar */
}

html.has-scroll-smooth,
.has-scroll-smooth body {
  overflow: hidden !important;
}

body {
  color: #390f0f;
  background-color: #fffdf9;
}

/* poppins */

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* playfair-display */

.playfair-display-medium {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.playfair-display-bold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.playfair-display-extrabold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* dancing-script */

.dancing-script-regular {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dancing-script-medium {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dancing-script-semibold {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.dancing-script-bold {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dancing-script-extrabold {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.dancing-script-black {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* dynapuff */

.dynapuff-regular {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.borel-regular {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}

.borel-extrabold {
  font-family: "Borel", cursive;
  font-weight: 800;
  font-style: normal;
}

button {
  padding: 0.5rem 2.5rem;
  /* background-color: #FF5D8F; */
  color: #ff5d8f;
  border: 2px solid #ff5d8f;
  border-radius: 1.8rem;
  transition: all 0.3s ease-in;
  font-family: poppins;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.1vw;
}

button:hover {
  background-color: rgb(255, 93, 143);
  color: #fffdf9;
}

button:active {
  transform: scale(0.95);
}
.section-2 {
  position: relative;
}
.section-2::before,
.section-2::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 10;
}
.section-2::before {
  left: 0;
  background: linear-gradient(to right, #ffedf3, transparent);
}
.section-2::after {
  right: 0;
  background: linear-gradient(to left, #ffedf3, transparent);
}

.section-3 {
  padding: 10vw 5vw 10vw 5vw;
  width: 100%;
  /* background-color: #f8d7e1; */
  height: 100vh;
}

.elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-family: serif; */
  /* font-weight: 500; */
  width: 100%;
  border-top: 1px solid #390f0f;
  padding: 20px 0;
}

.elem h1 {
  /* text-transform: uppercase; */
  color: #390f0f;
  font-size: 3.5vw;
}

.elem h4 {
  color: #390f0f;
}

.elemlast {
  border-bottom: 1px solid #390f0f;
}

.elem img {
  opacity: 0;
  pointer-events: none;
  height: 200%;
  z-index: 999;
  position: absolute;
  transform: translate(-50%, -50%);
  /* border: 5px solid #390f0f; */
  box-shadow: 0 10px 40px rgb(255, 93, 143, 0.7);
}
